*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html, body{
        height: 100%;
        width: 100%;
}

main{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
}
.one, .two{
        height: 100%;
        width: 50%;
        /* border-radius: 10px; */
}
.one{
        background-color: lightcoral;
}
.two{
        background-color: lightseagreen;
}